@import "_global-vars";

header {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 37vw;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 300px;
  max-height: 500px;
  justify-content: center;
  align-items: center;

  letter-spacing: 1px;
  background-color: $lighterThemeColor;

  &.header_sub {
    padding-top: 50px;
  }

  &.header_main {

    // Not setting height here, as we're relying on ios-inner-height
    max-height: 812px;

    .header-logo {
      opacity: 0.4;
      height: 40vh;
      max-height: 300px;
      position: relative;
      top: -11px;
    }

    .view_portfolio {
      img {
        position: relative;
        top: 10px;
      }
    }
  }

  h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 0px;
  }

  > * {
    text-align: center;
  }

  h1 {
    font-weight: 400; // Only a factor before fonts load.
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 52px;
    line-height: 55px;

    @media (max-width: $xspx) {
      font-size: 40px;
      line-height: 42px;
    }
  }

  @media (min-width: $smpx) {
    br.responsive_br {
      display: none;
    }
    .bull {
      display: none;
    }
  }

  @media (min-width: $mdpx) {
    h1 {
      font-size: 50px;
    }
  }

  /* There's sometimes a one-pixel gap that appears over the navbar in iOS Safari that appears to be a
  defect in the rendering engine. I see it in other sites sometimes. This fills the gap to keep things pretty. */
  .overheadFill {
    height: 100vh;
    top: -100vh;
    width: 100%;
    position: absolute;
    background-color: $lighterThemeColor;
  }

  .bull {
    font-size: 60%;
  }

  .view_portfolio {
    position: absolute;
    bottom: 30px;
    left: 50%;
    text-align: center;
    width: 200px;
    margin-left: -100px;
    cursor: pointer;

    animation: fade 2s forwards;
    animation-iteration-count: infinite;
  }

  @keyframes fade {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
}
