@import "_global-vars";

/**
 * @fileOverview 
 * @author Bradley Baysinger
 */

// TODO: This needs finished splitting out for detail device and infos.
// We split those up for separation of concerns.

@mixin flipX() {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  filter: fliph;
  /*IE*/
}

#infoParent {
  position: relative;
  display: block;
  transition: 0.5s;
  @media (max-width: $mdpx) {
    margin-top: 3vw;
  }

  @media (max-width: $-xspx) {
    margin-top: 1vw;
  }
}

/* Portfolio Piece */
.portfolio_piece {
  #piece_nav {
    width: 100%;
    position: absolute;

    &.not-scaled-on-height {
      position: static;
      height: 75px;
      margin-top: -110px;
      margin-bottom: 120px;

      @media (max-width: $xspx) {
      }
      .nav_button img {
        background-image: url("../assets/images/piece-detail/next-prev-mob.png");
        height: 75px;
      }
    }
  }

  #full_piece_device_container {
    @extend .device-shot_extend;
    position: relative;
    margin: 60px auto 30px;
    position: relative;
    max-width: 100%;
  }
  
  #full_piece_scaler {
    transform-origin: 0 50%;
    position: absolute;
    left: 50%;
    padding-left: -$device-halfWidthPx;
  }

  .btn-group-label:hover {
    color: #ffffff;
  }
  
  .btn-group-label:active {
    color: #ffffff;
    box-shadow: none;
  }

  #infoParent {
    margin-top: -100px;
  }

  #main_content {
    position: relative;
  }

  #piece_nav .nav_button img {
    @media (max-width: 850px) {
      transform: scale(0.75);
      transform-origin: center left;
    }
    @media (max-width: $-smpx) {
      transform: scale(0.8);
    }
    @media (max-width: $-xspx) {
      transform: scale(0.6);
    }
  }

  @media (max-width: $-smpx) {
    #full_piece_device_container {
      margin-top: 30px !important;
    }
  }

  @media (max-width: $-xspx) {
    #piece_nav .nav_button img {
      height: 60px;
    }

    #piece_nav {
      height: 60px;
      margin-bottom: 0;
    }

    #full_piece_device_container {
      margin-top: 15px !important;
    }
  }

  .desc_paragraph {
    margin-top: 12px;
  }

  .desc_paragraph:first-child {
    margin-top: 0;
  }

  #piece_nav .nav_button {
    position: absolute;
  }

  .nav_button img {
    height: 98px;
    width: 80px;
    background-image: url("../assets/images/piece-detail/next-prev.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  #piece_nav .nav_button:hover {
    opacity: 0.8;
  }

  #piece_nav .nav_button:active {
    opacity: 0.6;
  }

  #piece_nav .prev {
    left: 0;
  }

  .desc_element,
  .warn_element {
    margin-top: 25px;
  }

  .warn_element {
    color: $orange;
  }

  .warn_element {
    a:link,
    a:hover,
    a:visited,
    a:active {
      color: #666666 !important;
    }
  }

  #piece_nav .next {
    @include flipX();
    right: 0;
  }

  .my_contribution {
    color: #000000;
    position: relative;
    display: table;
  }

  .role {
    color: #666666;
  }

  .description {
    position: relative;
  }

  .logo_container {
    height: 40px;
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .logo_container .client-logo {
    $scaleY: 0.5;
    height: 60px;
    width: 300px;
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    position: absolute;
    visibility: hidden;
    transition: filter 0.5s linear, transform 0.5s linear;

    filter: blur(20px);
    transform: scaleY($scaleY);

    &.visible {
      visibility: visible;
      filter: blur(0px);
      transform: scaleY(1);

      @media (max-width: $-smpx) {
        transform: translateX(-50%) scale(0.75) scaleY(1);
      }
    }

    @media (max-width: $-smpx) {
      background-position: center center;
      transform: translateX(-50%) scale(0.75) scaleY($scaleY);
      left: 50%;
    }
  }

  p {
    margin-bottom: 0;
  }

  .btn-default {
    margin-right: 15px;
  }

  .btn-default,
  .btn-group-label {
    margin-top: 30px;
  }

  .btn-group .btn-default {
    margin-right: 0;
  }
}

////////////////////////////////
// Transitions
////////////////////////////////

#full_piece_scaler {
  .reset {
    // display:none prevents iOS Chrome from loading images.
    // visibility:hidden prevents iOS Safari from loading images.
    // But it is necessary to prevent excess of 9-12 (scaled) piece shots from rendering (at negligible opacity).
    // For now, using left:-10000px with optimism that it helps, but TODO: need to research.
    position: absolute;
    will-change: transform, opacity;
    transform: translateX(-10000px);

    .shot {
      // NOTE: iOS Chrome does not load images in elements where opacity is zero.
      // Set it to minium allowed value instead of zero.
      transition: transform 0s;
    }
  }

  .trans_in .shot {
    opacity: 1;
    transform: translateX(0);
    top: 0;
  }

  .trans_out .shot {
    opacity: 0.001;
  }

  .init .shot {
    opacity: 0.001;
  }

  .init .full_piece_desktop_shot {
    top: 50px;
  }

  .init .full_piece_mobile_shot {
    top: 75px;
  }
}

#portfolioSlideDirection {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100vw;
  position: relative;

  &.slide_lt {
    .trans_out {
      .full_piece_desktop_shot {
        transform: translateX(-150px);
      }
      .full_piece_mobile_shot {
        transform: translateX(-300px);
      }
    }
    .reset {
      .full_piece_desktop_shot {
        transform: translateX(150px);
      }
      .full_piece_mobile_shot {
        transform: translateX(200px);
      }
    }
  }

  &.slide_rt {
    .trans_out {
      .full_piece_desktop_shot {
        transform: translateX(150px);
      }
      .full_piece_mobile_shot {
        transform: translateX(200px);
      }
    }
    .reset {
      .full_piece_desktop_shot {
        transform: translateX(-150px);
      }
      .full_piece_mobile_shot {
        transform: translateX(-300px);
      }
    }
  }
}

////////////////////////////////
// End Transitions
////////////////////////////////
